.site-footer input[type="email"] {
   border: none !important;
   color:red;
}

input[type="search"] {
    width: 100%;
}
input[type="search"].with-day-button {
    width: 88%;
    margin-right: 10px;
}

h4.events-heading a.project {
    margin-left: 10px;
    color: #999;
    font-weight: bold;
}
.events-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.input-group-addon.clear-search {
    cursor: pointer;
}
dt {
    cursor: pointer;
}

.navbar-custom {
    z-index: 201;
}

/* Make the horsey list thing appear on top */
ul.sey-list {
    z-index: 1000;
}
